# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# env files — NEVER commit these
.env
.env.local
.env*.local
firebase.ts

# misc
.DS_Store
*.pem
/coverage
/.vercel
*.tsbuildinfo
next-env.d.ts
